{% extends "website/base.html" %}

{% block content %}
    <h1 id="Ex">Executives</h1>
    <div class="row">
        <div class="column">
            <h2>Bill gates</h2>
            <img src="/static/img/bill.jpg" alt="executive image" width="250" height="300">
            <P>Founder</P>
        </div>
        <div class="column">
            <h2>Sundar</h2>
            <div class="img">
            <img src="/static/img/sundar.jpg" alt="executive image" width="250" height="300">
            </div>
            <p>Chief Executive Officer (CEO)</p>
        </div>
        <div class="column">
            <h2>Emma watson</h2>
            <img src="/static/img/emma.jpg" alt="executivet image" width="250" height="300">
            <p>Chief Financial Officer (CFO)</p>
        </div>
        <div class="column">
            <h2>Robert Drowney JR</h2>
            <img src="/static/img/tony.jpg" alt="executive image" width="250" height="300">
            <p>Chief Operating Office (COO)</p>
        </div>
        <div class="column">
            <h2>Scarlett johanson</h2>
            <img src="/static/img/scarlet.jpg" alt="executive image" width="250" height="300">
            <p>Chief Information Officer (CIO)</p>
        </div>
        <div class="column">
            <h2>Chris evans</h2>
            <img src="/static/img/chris.jpg" alt="executive image" width="250" height="300">
            <P>Chief Marketing Officer (CMO)</P>
        </div>
    </div>

{% endblock  %}